html {
  font-family: Quicksand, sans-serif;
}

header {
  background-color: #475c78;
}

.embed-logo {
  padding-top: 46.41%;
}

.nav {
  text-align: center;
}

.heading {
  text-align: center;
  color: #fff;
}

.btn {
  background-color: #fff;
  border-color: #fff;
  color: #cc7780;
}

.current, .btn:hover {
  background-color: #cc7780;
  border-color: #cc7780;
  color: #fff;
}

.plans, .services, .form, .plans-page {
  background-color: #475c78;
  justify-content: center;
}

.teachers {
  background-color: #b97520;
  text-align: center;
  justify-content: center;
}

.teacher-card {
  background-repeat: no-repeat;
  background-position: center;
  height: 16rem;
  background-color: white;
}

.shakespeare {
  background-image: url("../images/Shakespeare.svg");
}

.earhart {
  background-image: url("../images/Earhart.svg");
}

.dali {
  background-image: url("../images/Dali.svg");
}

.card {
  background-color: #fff;
  text-align: center;
  margin: 5px;
  max-width: 80%;
}

h3 {
  text-align: center;
  color: #cc7780;
}

main {
  background-color: #b97520;
}

footer .grid {
  background-color: #b97520;
  justify-content: center;
}

fieldset {
  border-top: 0;
  color: #fff;
}

label {
  color: #fff;
}

.plan-form {
  margin: auto;
  text-align: center;
  justify-content: center;
}

input, select {
  border-color: #b97520;
}

[type="radio"] + label::before {
  border-color: #b97520;
}

.submit {
  text-align: center;
}

table {
  color: #fff;
}

th, td {
  border-color: #b97520;
}

@media only screen and (min-width: 38em) {

  img {
    display: inline-block;
  }

  .embed-logo {
    padding-top: 24%;
  }

  .nav {
    text-align: right;
    padding: 0;
  }

  .card {
    max-width: 30%;
  }

  fieldset {
    min-width: 500px;
  }

}

@media only screen and (min-width: 60em) {

  .masthead {
    max-width: 960px;
    margin: auto;
  }

  .plan-form {
    display: block;
  }

}
