html {
font-family: Quicksand, sans-serif;
}


header {
  background-color: #475c78;
}

.nav {
  text-align: center;
}

.heading {
  text-align:center;
  color: #fff;
}

.btn {
  background-color: #fff;
  border-color: #fff;
  color: #cc7780;
}

.btn:hover,
.btn:focus {
  background-color:#cc7780;
  border-color: #cc7780;
  color: #fff;
}

.plans, .services{
  background-color: #475c78;
  justify-content: center;
}

.teachers {
  background-color: #f4bd79;
  justify-content: center;
}
.card {
  background-color: #fff;
  text-align: center;
  margin: 5px;
  max-width: 80%;
}

h3 {
  text-align:center;
  color: #cc7780;
}

main {
  background-color: #f4bd79;
}

footer .grid{
  background-color: #f4bd79;
  justify-content: center;
}

@media only screen and (min-width: 38em) {

  img {
    display: inline-block;
  }

  .nav {
    text-align: right;
    padding:0;
  }

  .card {
    max-width: 30%;
  }

}

@media only screen and (min-width: 60em) {

  .masthead {
    max-width: 960px;
    margin:auto;
  }

}
